<clr-wizard #wizard [(clrWizardOpen)]="open">
  <clr-wizard-title>Introduction/Help</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Before you start...</ng-template>
    <ng-template clrPageNavTitle>Welcome</ng-template>
    <p class="content-for-page-1">Here's a quick introduction</p>
    <p> you'll begin setting up your account in order for you to get the best experince!
    </p>
  </clr-wizard-page>
  <clr-wizard-page>
    <ng-template clrPageTitle>Creat account</ng-template>
    <ng-template clrPageNavTitle>New account</ng-template>
    <p class="content-for-page-2">This is neccesary in order save your stocks.</p>
    <p>
    </p>
  </clr-wizard-page>
  <clr-wizard-page>
    <ng-template clrPageTitle>Stocks</ng-template>
    <ng-template clrPageNavTitle>Your first stocks</ng-template>
    <p class="content-for-page-3">Please input at least one stock to watch.</p>
    <p>
      <manage></manage>
    </p>
  </clr-wizard-page>
</clr-wizard>