<div>
    <form clrForm (submit)="add()">
        <input clrInput name="stock" [(ngModel)]="stock" type="text" placeholder="Add Stock"/>
    </form>
    <table class="table">
        <tbody>
            <tr *ngFor="let symbol of symbols">
                <td id="symbol">{{symbol}}</td>
                <td>
                    <button class="btn btn-link" (click)="remove(symbol)">
                        <b>remove</b>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>