<div class="main-container">
  <header class="header-1">
    <div class="branding">
      <span class="title">
          <cds-icon shape="home"></cds-icon>
          Stock Tracker
      </span>
    </div>
    <div class="header-nav">
      <a herf="javascript://" class="nav-link nav-text">Dashboard</a>
      <a herf="javascript://" class="nav-link nav-text">Manage</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
        <cds-icon shape="help-info"></cds-icon>
      </a>
    </div>
  </header>
  <main class="content-container" *ngIf="stocks">
    <summary [stock]="stocks[0]"></summary>
  </main>
</div>
<router-outlet></router-outlet>
