<div class="main-container">
  <header class="header-4">
    <div class="branding">
      <span class="title">
          Stock Tracker
      </span>
    </div>
    <div class="header-nav">
      <a [routerLink]="['/Dashboard']" class="nav-link nav-text">Dashboard</a>
      <a [routerLink]="['/']" class="nav-link nav-text">Manage</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text">
        <clr-icon shape="user"></clr-icon>
        <span class="nav-text">username</span>
      </a>
    </div>
  </header>
  <main class="content-container">
    <router-outlet>
      <multistep-wizard></multistep-wizard>
    </router-outlet>
  </main>
</div>