header{
    width: 100vw;
    
    .header-nav{
        :hover{
        border: solid 2px black;
        color: black;
        } 
    } 
    
    .title{
        padding-left: 20px;
        padding-right: 20px;
    }

    .help{
        color: white;
    }
}
