<div class="main-container">
  <header class="header-4">
    <div class="branding">
      <span class="title">
          Stock Tracker
      </span>
    </div>
    <div class="header-nav">
      <a [routerLink]="['/']" class="nav-link nav-text">Dashboard</a>
      <a [routerLink]="['/manage']" class="nav-link nav-text">Manage</a>
    </div>
    <div class="header-actions">
      <a [routerLink]="['/help']" class="nav-link nav-icon" aria-label="settings">
        <clr-icon shape="help-info" class="is-inverse"></clr-icon>
      </a>
    </div>
  </header>
  <main class="content-container">
    <multistep></multistep>
  </main>
</div>